@media screen and (max-width:600px) {
    body {
        padding: 0px 20px;
    }

    section {
        margin-top: 24px;
    }
    .section-title{
        font-size: 22px;
        font-weight: 800;
        margin-bottom: 16px;
    }

    p,
    li,
    a {
        line-height: 20px;
        font-size: 14px;
    }

    /* navbar */
    .nav {
        padding: 25px 0;
    }

    .nav img {
        width: 50px;
    }

    .nav-right>a {
        display: none;
    }

    .nav-right .bar {
        display: block;
        width: 24px;
    }

    .nav-left h3 {
        font-size: 20px;
    }

    /* banner */

    .banner-title {
        font-size: 22px;
        padding: 32px 0 0 0;
    }

    .banner-description {
        font-size: 14px;
        padding: 20px 0;
        margin: 0;
        width: 85%;
    }

    .banner-input-field-container {
        flex-direction: column;
        width: 287px;
    }

    .banner-input-field-container select {
        width: 100%;
    }

    /* popular */
    .popular {
        flex-direction: column;
        gap: 24px;
    }

    .popular-img {
        width: 100%;
    }

    /* Choose section */
    .choose-description {
        padding: 0px;
    }

    .choose-card-container {
        margin-top: 16px;
        grid-template-columns: repeat(1, 1fr);
    }

    .choose-card-3 {
        padding: 32px;
        width: 82%;
        grid-column: span 1;
        justify-self: self-start;
    }

}

@media screen and (min-width:601px) and (max-width:991px) {
    body {
        padding: 0px 40px;
    }

    .nav {
        padding: 25px 0;
    }

    .nav-left h3 {
        font-size: 21px;
    }

    /* popular */
    .popular {
        flex-direction: column;
        gap: 24px;
    }

    .popular-img {
        width: 100%;
    }

    /* Choose section */
    .choose-card-container {
        margin-top: 20px;
    }
    .choose-description {
        padding: 50px;
    }

}