@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


body {
    font-family: "Mulish", sans-serif;
    margin: 0;
}

header,
main {
    padding: 0px 135px;
}

section {
    margin-top: 100px;
}

.section-title {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
    margin-top: 0;
}

p,
li,
a {
    color: rgba(18, 18, 23, 0.7);
    line-height: 26px;
}

h3,
h6 {
    color: #131318;
}

hr {
    border: 1px solid rgba(19, 19, 24, 0.10);
    margin: 24px 0;
}

button {
    cursor: pointer;
}

:root {
    --button-color: #FF5400;
}

/* Navbar CSS */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-left h3 {
    font-size: 36px;
    font-weight: 800;
    margin: 0;
}

.nav-left h3>span {
    color: var(--button-color);
}

.nav-right {
    display: flex;
    gap: 2.75rem;
}

.nav-right .bar {
    display: none;
}

.nav-right a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

/* Banner CSS */
.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    border-radius: 16px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.banner-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin: 0;
    padding: 100px 0 20px 0;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    width: 70%;
    padding-bottom: 48px;
}

.banner-input-field-container {
    display: flex;
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
}

.banner-input-field-container input {
    padding: 16px;
    border: 0;
    border-radius: 8px;
    background: #FFF;
}

.banner-input-field-container input ::placeholder {
    color: rgba(19, 19, 24, 0.50);
}


.banner-input-field-container select {
    padding: 16px;
    width: 174px;
    height: 52px;
    border: 0;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}

.banner-input-field-container .banner-btn {
    padding: 16px 35px;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    background: var(--button-color);
    font-weight: 700;
}

/* Popular CSS */

.popular {
    display: flex;
    gap: 10%;
}

.popular-description {
    margin: 0 0 24px 0;
}

.popular-description-2 {
    margin: 8px 0 0px 0;
    color: #5A5A5D;
}

.popular ul {
    padding: 0px 0 0 25px;
}

.popular li {
    padding: 0px 0 16px 0;
}

.popular-btn {
    background-color: var(--button-color);
    color: #FFF;
    padding: 14px 35px;
    border-radius: 8px;
    border: 0;
    margin-top: 32px;
    font-size: 20px;
    font-weight: 800;
}

/*  Choose Your Destination */
.destination-content {
    text-align: center;
}

.destination-description {
    margin-top: 0;
    margin-bottom: 48px;
    padding: 0 265px;
}

.destination-img-container {
    display: grid;
    gap: 24px;
}

.row-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    place-self: center;
}

.row-2 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    gap: 24px;
    place-self: center;
}

.row-3 {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    gap: 24px;
    place-self: center;
}

.destination-img {
    position: relative;
}

.location-name {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    transform: translate(-50%, -50%);
    margin: 0;
}

/* Choose CSS */
.choose-content {
    text-align: center;
}

.choose-description {
    padding: 0 265px;
    margin: 0;
}

.choose-card-container {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 24px;
    margin-top: 48px;
}

.card-title {
    font-size: 24px;
    font-weight: 800;
    margin: 32px 0 16px 0;
}

.card-description {
    padding-right: 40px;
    margin-bottom: 0;
    color: #5A5A5D;
}

.choose-card-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
    grid-column: span 1;
}

.choose-card-2 {
    border-radius: 16px;
    border: 1px solid #29cef633;
    background: rgba(41, 206, 246, 0.05);
    padding: 32px;
    grid-column: span 1;
}

.choose-card-3 {
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.051);
    grid-column: span 2;
    justify-self: center;
    width: calc(50% - 24px);
}


/* Deals and discount */

.deal-content {
    text-align: center;
}

.deal-description {
    margin: 0;
    padding: 0 265px 48px;
}

.deal-bg-1 {
    background-image: url("../images/Group\ 39.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    border-radius: 16px;
}

.deal-bg-2 {
    background-image: url("../images/Group\ 40.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    border-radius: 16px;
    margin: 24px 0;
}

.deal-bg-3 {
    background-image: url("../images/Group\ 39.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    border-radius: 16px;
}

.deal-details-container {
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    position: relative;
    top: 55px;
    left: 48%;
}

.deal-details-mid-container {
    top: 55px;
    left: 55px;
}

.deal-details {
    padding: 50px 50px 0;
}

.deals-icons {
    display: flex;
    gap: 24px;
}

.deals-icons p>i {
    color: var(--button-color);
}

.deals-icons p {
    margin: 0;
}

.deal-details-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin: 0;
    padding: 26px 0 16px 0;
}

.deal-details-description {
    margin: 0;
    padding-bottom: 16px;
}

.price {
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    padding-bottom: 32px;
}

.book {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: 0;
    background-color: var(--button-color);
    border-radius: 8px;
    padding: 14px 25px;
}
.package-btn {
    text-align: center;
}
.package-btn > button {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    background: var(--button-color);
    padding: 14px 22px;
    border: 0;
    margin-top: 48px;
}

/* Customer Review */
.review {
    text-align: center;
}

.review .review-description {
    margin: 0;
    padding: 0 265px 48px;
}

.review-card-container {
    display: flex;
    gap: 24px;
}

.review-card>h3 {
    font-size: 24px;
}

.review-card {
    background-color: #9aebff33;
    padding: 40px;
    border-radius: 8px;
}

.stars>i {
    color: #FF5400;
}

.customer-img {
    width: 35%;
    border: 5px solid #fff;
    border-radius: 50%;
}



/*  Newsletter section css*/

.newsletter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.newsletter-left {
    background: #FFF;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}

.newsletter-left p {
    padding-right: 25%;
    margin: 0;
    color: #5A5A5D;
    font-size: 16px;
    line-height: 26px;
}

.newsletter-left h3 {
    font-size: 24px;
    font-weight: 800;
}

.newsletter-left div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.newsletter-left input {
    padding: 16px;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.newsletter-left button {
    border: 0;
    border-radius: 8px;
    background: var(--button-color);
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    padding: 14px 100px;
}

::placeholder {
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}



.newsletter-right {
    position: relative;
}

.newsletter-right>img {
    width: 100%;
    height: 100%;
}

.save {
    position: absolute;
    bottom: 12%;
    right: 2%;
    background-color: var(--button-color);
    border-radius: 16px;
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    text-align: center;
}

.save>p {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    padding-top: 24px;
    margin: 0;
}

.save>h3 {
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    margin: 0;
}


/* Footer */
footer {
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footer-title h3 {
    font-size: 32px;
    font-weight: 800;
    margin: 0;
}

.footer-title h3>span {
    color: var(--button-color);
}

footer p {
    padding: 0 335px;
    margin: 24px 0 0 00;
}

.footer-icon i {
    margin: 32px 16px 50px 0;
    font-size: 24px;
}

footer hr {
    width: 872px;
    margin: 0 auto 34px auto;
}